<!DOCTYPE html>
<html>
<head>
  <title>OAPhood Tracker</title>
  <meta charset="utf-8">
  <link rel="stylesheet" href="css/bootstrap.css">
  <link rel="stylesheet" href="css/toastr.css">
  <link rel="stylesheet" href="css/angular-date-picker.css">
  <link rel="stylesheet" href="css/application.css">
</head>
<body>
  <div class="container" ng-app="foodTracker" ng-controller="jsonGUIController">
    <div class="row">
      <div class="page-header">
        <div class="span1" style="background-color:black;">
          <img src="img/oap_logo.svg">
        </div>
        <div class="span5">
          <h1>OAPhood Tracker</h1>
        </div>
        <ol style="list-style-type: none; float: right;">
          <li>
            <div class="span3">
              <a ng-click="saveData()" href="managers.html">
                <button class="btn btn-info btn-large" id="managerpage">
                  <i class="icon-cog icon-white"></i>Managers
                </button>
              </a>
            </div>
          </li>
        </ol>
      </div>
    </div>

    <div class="row">
      <div class="input-column" ng-repeat="item in food" ng-show="item.volunteer_page==1">
        <h4 style="text-align:center">{{ item.name }}</h4>
        <button class="btn btn-success btn-medium input-column-item" ng-show="inputType=='delivery'||inputType=='inventory'" ng-click="stage($index, item.packs_per_box, 'take')">
          Receive Full Box ({{ item.packs_per_box }})
        </button>
        <button class="btn btn-success btn-medium input-column-item" ng-show="inputType=='delivery'" ng-click="stage($index, 1, 'take')">
          Receive 1 Pack
        </button>
        <button class="btn btn-success btn-medium input-column-item" ng-show="inputType=='normal'||inputType=='inventory'" ng-click="stage($index, item.packs_per_cooler, 'take')">
          Take Full Cooler ({{ item.packs_per_cooler }})
        </button>
        <button class="btn btn-success btn-medium input-column-item" ng-show="inputType=='normal'||inputType=='inventory'" ng-click="stage($index, 1, 'take')">
          Take 1 Pack
        </button>
        <input class="input-column-item" ng-model="staging[$index]" value="0">
        <button class="btn btn-warning btn-medium input-column-item" ng-show="inputType=='inventory'" ng-click="stage($index, 1, 'replace')">
          Replace 1 Pack
        </button>
        <button class="btn btn-warning btn-medium input-column-item" ng-show="inputType=='inventory'" ng-click="stage($index, item.packs_per_cooler, 'replace')">
          Replace Cooler ({{ item.packs_per_cooler }})
        </button>
        <button class="btn btn-warning btn-medium input-column-item" ng-show="inputType=='inventory'" ng-click="stage($index, item.packs_per_box, 'replace')">
          Replace Full Box ({{ item.packs_per_box }})
        </button>
      </div>
    </div>
    <div class="row">
      <button class="btn btn-success submit-button" ng-click="commitChanges()">
        Submit
      </button>
    </div>

    <h2>Change History</h2>
    <div class="row">
      <table id="food-inventory" class="table table-striped">
        <thead>
          <tr>
            <th>Timestamp</th>
            <th ng-repeat="item in food" ng-show="item.volunteer_page==1">{{ item.name }}</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="entry in changelog | orderBy: '-' | limitTo: 10">
            <td>{{ entry.timestamp }}</td>
            <td ng-repeat="change in entry.data" ng-show="change.item.volunteer_page==1">{{ change.change }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  
  <script src="lib/jquery.min.js"></script>
  <script src="lib/angular.min.js"></script>
  <script src="lib/toastr.min.js"></script>
  <script src="lib/angular-date-picker.js"></script>
  <script src="app/controllers.js"></script>

</body>
</html>